@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import "utils/variables";
@import "utils/mixins";
@import "utils/base";

@import "blocks/site";
@import "blocks/site-header";
@import "blocks/site-main";
@import "blocks/blog-post";
@import "blocks/blog-list";