{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <p>{{ .Params.description }}</p>
  {{ .Content }}

  <section class="content-list">
    <header class="content-list__header">
      <h2 class="content-list__title">Últimas entradas del Blog</h2>
      <a href="{{ "blog" | relURL }}" class="">Ver todas →</a>
    </header>

    <div class="content-list__grid">
      {{ range first 4 (where .Site.RegularPages "Section" "blog") }}
      {{ $page := . }}
      <article class="card">
        <div class="card__body">
          <h3 class="card__title">
            <a href="{{ $page.RelPermalink }}" class="card__title-link">
              {{ $page.Title }}
            </a>
          </h3>

          <p class="card__meta">
            <time datetime="{{ $page.Date }}">
              {{ $page.Date.Format "02/01/2006" }}
            </time>
          </p>

          <p class="card__excerpt">
            {{ with $page.Params.description }}
            {{ . }}
            {{ else }}
            {{ $page.Summary }}
            {{ end }}
          </p>

          <a href="{{ $page.RelPermalink }}" class="card__read-more">
            Leer más
          </a>
        </div>
      </article>
      {{ end }}
    </div>
  </section>
{{ end }}