.site-header {
  padding-block: 1rem;
  border-bottom: 1px solid #ddd;
  background-color: #f8f8f8;

  &__inner {
    max-width: 1024px;
    margin: 0 auto;
    padding-inline: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-link {
    text-decoration: none;
  }

  &__logo-text {
    font-weight: 700;
    font-size: 1.25rem;
  }

  /*&__nav {

  }*/

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 1rem;
  }

  /*&__nav-item {

  }*/

  &__nav-link {
    text-decoration: none;
    font-size: 0.95rem;

    &:hover {
      text-decoration: underline;
    }
  }
}