
.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: #fff;
  color: #111;
  font-family: "Zalando Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
